<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:insert="~{fragment :: head}"></head>

<body>
<div th:replace="~{fragment :: menuClean}"></div>
<form method="post">
    <div class="ml-2">
        <div class="card mx-auto" style="width: 24rem;">
            <div class="card-header">
                Cadastro de clientes
            </div>

            <div th:text="${mensagem}" style="color: red"></div>

            <form th:action="@{/clientes/cadastrar}"
                  method="post"
                  th:object="${cliente}">
                <input type="hidden" th:field="*{id}" />
                <div class="card-body">
                    <div class="mb-1">
                        <label class="form-label">Nome</label>
                        <input type="text" th:field="*{nome}" class="form-control" name="nome" placeholder="Digite o nome">
                        <br/>
                        <p th:if="${#fields.hasErrors('nome')}" th:errorclass="error"
                           th:errors="*{nome}"
                           style="color: red"/>
                    </div>
                    <div class="mb-1">
                        <label class="form-label">CPF</label>
                        <input type="text" th:field="*{cpf}" class="form-control" name="cpf" placeholder="Digite seu CPF">
                        <br/>
                        <p th:if="${#fields.hasErrors('cpf')}" th:errorclass="error"
                           th:errors="*{cpf}"
                           style="color: red"/>
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Data de Nascimento</label>
                        <input type="date" th:field="*{nascimento}" class="form-control" name="nascimento" placeholder="Digite sua data de nascimento">
                        <br/>
                        <p th:if="${#fields.hasErrors('nascimento')}" th:errorclass="error"
                           th:errors="*{nascimento}"
                           style="color: red" />
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Senha</label>
                        <input type="password" th:field="*{senha}" class="form-control" name="senha" placeholder="Digite sua senha">
                        <br/>
                        <p th:if="${#fields.hasErrors('senha')}" th:errorclass="error"
                           th:errors="*{senha}"
                            style="color: red"/>
                    </div>
                    <button type="submit" value="Cadastrar" class="btn btn-primary">Cadastrar</button>
                    <a class="btn btn-danger btn-block" th:href="@{/login}">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</form>
</body>
</html>

