<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:insert="~{fragment :: head}"></head>
<body>
<div th:replace="~{fragment :: menuClean}"></div>
<section>
    <div class="container"  style="width: 70%;">
        <div class="">
            <div class="ml-2">
<!--                <form th:action = "@{/login}" method="post">-->
                    <div class="card mx-auto" style="width: 24rem;">
                        <div class="card-header d-flex justify-content-center">
                            <h3 style="color: red;"><span th:text = "${clienteCadastrado.nome}"></span>, seu cadastro foi feito com sucesso!</h3>
                        </div>
                        <div class="card-body d-flex justify-content-center">
                            <a class="btn btn-primary mt-3 align-self-center justify-self-center" th:href="@{/login}">Voltar para a pagina de login</a>
                        </div>
                    </div>
<!--                </form>-->
            </div>
        </div>
    </div>
</section>

</body>
</html>
