<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:insert="~{fragment :: head}"></head>
<head>
    <meta charset="UTF-8">
    <title>Sortetudo</title>
</head>
<body>
<div th:replace="~{fragment :: menu}"></div>
<form method="post">
    <div class="ml-2">
        <div class="card" style="width: 24rem;">
            <div class="card-header">
                Cadastro de clientes
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label">Nome</label>
                    <input type="text" class="form-control" name="nome" placeholder="Digite o nome">
                </div>
                <div class="mb-3">
                    <label class="form-label">CPF</label>
                    <input type="text" class="form-control" name="cpf" placeholder="Digite seu CPF">
                </div>
                <div class="mb-3">
                    <label class="form-label">Data de Nascimento</label>
                    <input type="date" class="form-control" name="nascimento" placeholder="Digite seu CPF">
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>

