<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:insert="~{fragment :: head}"></head>
<style>
    .login{
        width: 35%;
        margin: 0;
    }
</style>
<body>
<div th:replace="~{fragment :: menuClean}"></div>
<div class="login card mx-auto">
    <div class="card-header">
        Login
    </div>
    <div class="card-body">
        <form method="post"
              th:action="@{/login}"
              th:object="${usuario}"
        >
            <div th:if="${not #strings.isEmpty(mensagem)}"
                 th:utext="${mensagem} "
                 class="alert alert-danger alert-dismissible fade show" role="alert"></div>

            <div class="form-group mt-3 d-flex flex-column">
                <label for="cpf">CPF: </label>
                <input id="cpf" type="text" name="cpf" th:field="*{cpf}" >
            </div>
            <div class="form-group mt-3 d-flex flex-column">
                <label for="senha" >Senha: </label>
                <input id="senha" type="password" name="senha" th:field="*{senha}">
            </div>
            <div class="d-grid gap-1 mt-2">
                <span class="text-center">Não tem cadastro? <a href="/" th:href="@{/clientes}">Registre-se!</a></span>
                <button class="btn btn-primary mt-3" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>